{% extends "index.html" %}

{% block encabezado %}
    {% include "encabezado.html" %}
{% endblock %}

{% block menu %}
    {% include "menu.html" %}
{% endblock %}

{% block contenido %}
    <br>
    <div class="inicioSecion mt-5" style="margin: 0 auto;">
        <form action="/iniciarSecion" method="post" class="was-validated">
            <div>
                <h3 class="text-center bg-danger text-white">Ingresar</h3>
            </div>
            <div class="form-floating" style="margin: 10px;">
                <input type="text" name="txtUsuario" id="txtUsuario" class="form-control" required>
                <label for="txtUsuario">Usuario:</label>
            </div>
            <div class="form-floating" style="margin: 10px;">
                <input type="password" name="txtPassword" id="txtPassword" class="form-control" required>
                <label for="txtPassword">Contraseña:</label>
            </div>
            <div class="form-floating">
                <button class="btn btn-success">Ingresar</button>
                <a href="https://">Olvido su contraseña?</a>
            </div>
            <div>
                {{mensaje}}
            </div>
        </form>
    </div>
{% endblock %}

{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}